{% extends 'base.html' %}
{% block body %}
<h1 style="text-align : center;"><strong><u>DISCLAIMER</u></strong></h1>
<h3 style="margin-left: 100px; ">Please read the the all points carefully: </h3><br>
<h5 style="margin-left: 100px; font-size: 20px;">All content and media on the Your Health Website is created and published online for informational purposes only. It is not intended to be a substitute for professional medical advice and should not be relied on as health or personal advice.</h5><br>
<h5 style="margin-left: 100px; font-size: 20px;">Always seek the guidance of your doctor or other qualified health professional with any questions you may have regarding your health or a medical condition. Never disregard the advice of a medical professional, or delay in seeking it because of something you have read on this Website.</h5><br>

<h5 style="margin-left: 100px; font-size: 20px;">If you think you may have a medical emergency, call your doctor, go to the nearest hospital emergency department, or call the emergency services immediately. If you choose to rely on any information provided by Your Health, you do so solely at your own risk.</h5><br>

<h5 style="margin-left: 100px; font-size: 20px;">External (outbound) links to other websites or educational material (e.g. pdf’s etc…) that are not explicitly created by Your Health are followed at your own risk. Under no circumstances is Your Health responsible for the claims of third party websites or educational providers.</h5><br>
<h5 style="margin-left: 100px; font-size: 20px; color:red">This website only helps you to predict the disease. Don't be panic after watching undesired result. We fully advise you please concern with your. The prediction may be wrong.</h5><br>
<br>
<br>
<h1 style="text-align : center; color:blue"><strong><u>INSTRUCTIONS</u></strong></h1><br>
<h3 style="margin-left: 100px; ">Please follow the instructions carefully: </h3><br>
<ol>
  <li style="margin-left: 100px; font-size: 20px; color: black;">Go to the <strong>"Prediction"</strong> page.</li><br>
  <br>
  <li style="margin-left: 100px; font-size: 20px; color: black;">Select the type of disease which you want to know.</li><br>
  <br>
  <li style="margin-left: 100px; font-size: 20px; color: black;">Fill all the require fields very carefully.</li><br>
  <br>
  <li style="margin-left: 100px; font-size: 20px; color: black;">Then click to the <strong>"Predict"</strong> button.</li><br>
  <br>
  <li style="margin-left: 100px; font-size: 20px; color: black;">After watching the result, if you want know the best doctors, go to the <strong>"Doctor"</strong> page.</li><br><br>
  <li style="margin-left: 100px; font-size: 20px; color: black;">If you want to concern through the website, go to the <strong>"make your appoinment"</strong>.</li><br>
</ol>

{% endblock %}